# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

--extra-index-url --index-url https://download.pytorch.org/whl/rocm6.4
torch==2.7.1
torchaudio==2.7.1
faiss-cpu==1.11.0

onnx==1.16.0
onnxscript==0.2.6
onnxsim==0.4.36
onnxruntime-rocm @ https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4/onnxruntime_rocm-1.21.0-cp310-cp310-linux_x86_64.whl
torchcrepe==0.0.24
torchfcpe==0.0.4
safetensors==0.5.3
