# At least 14.38 is required by onnxruntime
msvc-runtime>=14.38; sys_platform=='win32'
uvicorn
pyOpenSSL
numpy<2 # Not all modules have migrated to NumPy 2 yet. Using latest NumPy 1 version
python-socketio
fastapi
python-multipart
scipy
librosa
sounddevice
python-dotenv
pydantic-settings
xxhash
aiohttp
certifi
msgspec
